.img-Lucifer{
    grid-area: img-luci;
}
.facts-lucifer{
    grid-area: facts-luci;
   
}
.text-lucifer {
    grid-area: text-luci;
}
.img-JumJum{
    grid-area: img-jum;
}
.facts-jum{
    grid-area: facts-jum;
}
.text-jum {
    grid-area: text-jum;
}
.img-mio{
    grid-area: img-mio;
}
.facts-mio{
    grid-area: facts-mio;
    
}
.text-mio {
    grid-area: text-mio;
}

.our-cats{
    grid-area: our-cats;
    padding: 100px;

}

.our-cats .hz-line {
    color: orange;
    z-index: 2;
}



.cat-Lucifer{
    grid-area: cat-luci;
    
        min-height: 300px;
        background-color: #f2f2f2;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;  
        grid-template-areas:
        "img-luci facts-luci"
        "text-luci . "
}


.cat-Jum-Jum{
    grid-area: cat-jum;
    background-color: #f2f2f2;

    min-height: 300px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;  
        grid-template-areas:
        "img-jum facts-jum"
        "text-jum . "
}
.cat-Mio{
    grid-area: cat-mio;
    
    min-height: 300px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;  
        grid-template-areas:
        "img-mio facts-mio"
        "text-mio . "
}

.main-nav{
    z-index: 2;
}


.cats-main{
min-height: 300px;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: auto;  
grid-template-areas: 

"cat-luci our-cats"
"cat-jum cat-mio"
;



}
.text-adoption{
padding: 60px 45px;
background-color: var(--#f2f2f2);

} 
h1{
    font-family: var(--font-style-sm);
    color: var(--nav-link-clr);
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    line-height: var(--h1-line-height);
    position: absolute;
    left: 40%;
    top: 80px;
    z-index: 1;
    



}   

h2{
font-family: var(--font-style-sm);
color: var(--clr-primary);
font-size: var(--h2-size);
font-weight: var(--p-weight);
line-height: var(--p-line-height);
padding-bottom: 40px;

}
.hz-line{
background-color: orange;
height: 3px;
width: 100px;

}

.our-cats > p {
    color: var(--nav-link-clr);
}

.our-cats > h2 {
    color: var(--nav-link-clr);
}


p{
  padding-top: 50px;
  font-family: var(--font-style-sm);
  color: var(--bread-text);
  font-size: var(--p-size);
  font-weight: var(--p-weight);
  line-height: var(--p-line-height);
}

.cats-main img{
  height: 400px;
  width: 350px;
 
}

.header-container-adoption img {
    width: 100%;
    z-index: -2;
    height: 275px
 
    
}

.lower-image img{
    height: 550px;
    width: 100%;
    margin: 0%;
    z-index: -2;
}

.lower-button {
    position: relative;
    bottom: 225px;
    left: 35%;
    text-decoration: none;
    padding: .5em 1.5em;
    font-family: Poppins;
    font-weight: 800;
    font-size: 18px;
}
.lower-button a:hover {
    color: var(--clr-secondary);
}

.lower-button a {
    color: var(--nav-link-clr);
    border: 1px solid;
    padding: 10px;
    text-decoration: none;
}






main li {
margin-top: 50px;
}

[class*= "cat"]{
font-family: var(--font-style-sm);
color: var(--bread-text);
font-size: var(--p-size);
font-weight: var(--p-weight);
line-height: var(--p-line-height);
padding: 40px;

}

@media screen and (max-width: 1200px) { 
  main{
min-height: 300px;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: auto;  
grid-template-areas: 

"cat-luci our-cats"
"cat-jum cat-mio"
;

} }